<div class="content" role="main">
  <div class="createAdressContainer">
    <h1>Adresse anlegen</h1>
    <form #form="ngForm">
      <div class="card-container">
        <mat-form-field>
          <input matInput placeholder="Ort" ngModel name="ort">
        </mat-form-field>
      </div>
      <div class="card-container">
        <mat-form-field>
          <input matInput placeholder="Plz" ngModel name="plz">
        </mat-form-field>
      </div>
      <div class="card-container">
        <mat-form-field>
          <input matInput placeholder="Straße" ngModel name="straße">
        </mat-form-field>
      </div>
      <div class="card-container">
        <mat-form-field>
          <input matInput placeholder="Hausnummer" ngModel name="nummer">
        </mat-form-field>
      </div>
      <br>
      <button type="submit" class="submitButton" (click)="submitAdress()" mat-raised-button color="primary">Erstellen</button>
    </form>
  </div>
</div>
